
:root{
    --yallow : #ffca40;
    --red : #c8161d;
    --dark : #000000;
    --gray:#808080;
    --wihte : #f8f8f7;
}
body{
    width: 100%;
    min-height: 100vh;
}

body .hero_section{
    width: 100%;
    height: 100vh;
    display: flex;
}

body .hero_section .clousers{
    width: 40%;
    height: 100%;
    background-color: #cfcece35;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .hero_section .clousers .frame{
    width: 90%;
    height: 500px;
}

body .hero_section .signUp{

    width: 60%;
    height: 100%;
    background-color: var(--wihte);
    display: flex;
    justify-content: center;
    align-items: center;
}
body .hero_section .signUp .content{
    width: 50%;
    height: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    /* background-color: var(--gray); */
}

body .hero_section .signUp .content .title-link{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
}

body .hero_section .signUp .content .title-link .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}
body .hero_section .signUp .content .title-link .link{
    font-family:normal;
    font-size: 20px;
    font-weight: 200;
    line-height: 15px;
    color: var(--gray);
}


body .hero_section .signUp .content .inputs_groups {
    width: 100%;
    height: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
}

body .hero_section .signUp .content .inputs_groups  .group{
    width: 100%;
    height: 40px;
    position: relative;
    background-color:#d4d4d4;
    border-radius: 8px;
}

body .hero_section .signUp .content .inputs_groups  .group input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    /* background-color: #2a1153; */
    background-color:#d4d4d4;

}
body .hero_section .signUp .content .inputs_groups  .group label{
    position: absolute;
    top: 10%;
    left: 5px;
}
body .hero_section .signUp .content .inputs_groups  .group .icon{
    position: absolute;
    top: 20%;
    right: 10px;
}

body .hero_section .signUp .content .button{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: var(--yallow);
    font-family:sans-serif;
    font-size: larger;
    font-weight: 400;
}
body .hero_section .signUp .content .or{
    width: 100%;
    height: 20px;
    text-align: center;
}

body .hero_section .signUp .content .group_link{
    width: 100%;
    height: auto;
    gap: .5rem;
    display: flex;
}
body .hero_section .signUp .content .group_link button{
    width: calc((100% - .5rem) / 2);
    height:50px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    outline: none;
    font-size: small;
    text-align: left;
    font-weight: 400;
}

body .hero_section .signUp .content .group_link button img{
width: 35px;
height: 35px;
}









